

  <div id="solve">
    <div class="riddleContainer row">
      
      <div class="col-2 col-md-2 col-sm-12 problems" *ngFor="let problem of problemSequence; let i=index">
            <div class="buttons" *ngFor="let n of sizeOfProblem[i]; let x=index"> <!--vsaka števka problem posebej--> <!--col-{{ 12 / problems[i].size }}-->
              <div *ngFor="let p of sizeOfProblem[i]; let y=index">
                <button (click)="solveButtonClick(i, getIndex(x, y, i))"
                [ngClass]="{
                  'light': problem[getIndex(x, y, i)] === 1,
                  'field': true}" >
                {{ problem[getIndex(x, y, i)] }}
                <div class="solutionDot" *ngIf="chosenRiddle==problems[i]._id && solutionPoints[getIndex(x, y, i)] != 0"></div>
              </button>
              </div>
            </div>
            <button class="solutionButton" (click)="problemButtonClick(problems[i]._id)">Get solution</button> 
            <button class="resetButton" (click)="resetButtonClick(problems[i]._id, i)">Reset</button>
<!---vsak button rabi id? da ga lahko spremenimo - oz samo problemId in lokacijo-->

      </div>
    </div>

  </div>


