body{
    background-color:#a9a9a9
}

#solve{
    text-align:center;
    padding:2ex 0 2ex 0;
    background-color:#b6cc43
}


.riddleContainer{
    background-color:gray;
    width:auto;
    text-align:center;
    align-items:center;
    display:flex;
    margin:auto
}

.problems{
    text-align:center;
    padding:2ex;
    margin:2ex;
    width:auto;
    position:relative;
    border-color:#00000000
}

.buttons{
    display:flex;
    width:inherit;
    margin:0 auto;
    text-align:center
}

.field{
    width:10ex;
    height:10ex;
    border-radius:0;
    margin:0;
    border:0;
    padding:0;
    background-color:grey;
    text-align:center;
    position:relative;
    outline:.5ex solid #000;
    border-collapse:collapse;
    color:#00000000
}

.light{
    background-color:#e9ff76
}

.buttons button{
    outline:.5ex solid #000;
    border-collapse:collapse;
    color:#00000000;
    overflow:hidden;
    text-align:center
}

@media (max-width:896px){
    .field{
        max-width:7ex;
        max-height:7ex
    }
    
    .problems{
        margin:auto;
        padding:auto
    }}