
<div id="create">

    <div class="riddleContainer row">
      <!--div class="col-2 col-md-2 col-sm-12 problems" *ngFor="let problem of problemSequence; let i=index">
        <div class="ifChosen" *ngIf="">
            <div class="buttons" *ngFor="let n of sizeOfProblem[i]; let x=index"> <--vsaka števka problem posebej> <--col-{{ 12 / problems[i].size }}>
              <div *ngFor="let p of sizeOfProblem[i]; let y=index">
                <button class="field light" *ngIf="problem[ y + ( x * problems[i].size)]=='1'">{{ problem[ y + ( x * problems[i].size)] }} <button class="solutionDot" ></button></button>
                <button class="field" *ngIf="problem[ y + ( x * problems[i].size)]=='0'">{{ problem[ y + ( x * problems[i].size)] }} <div class="solutionDot" ></div></button>
                
              </div>
            </div>
            <button class="solutionButton" >Get solution</button><--(onClick)="show(problems[i])"">
            <button class="resetButton">Reset</button>
<---vsak button rabi id? da ga lahko spremenimo - oz samo problemId in lokacijo>
        </div>
      </div-->


    </div>

  </div>


